<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinyl Wraps and Filters for Wifi Cameras</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body>
    <header>
  <div role="banner"><h1 class="logo">Tory</h1></div>
  <nav>
    <span>About</span> |
    <span>Purchase</span> |
    <span>Contact</span>
  </nav>
</header>
<main>
  <div id="app">
              <h3>Inventory</h3>
              <ul>
                  <li v-for="item in items">
                    <img :src="item['fields']['Photo'][0]['thumbnails']['large']['url']" alt="" v-if="item['fields']['Photo']" width="150">
                      <h3>{{ item['fields']['Name'] }}</h3>
                      <p>{{ item['fields']['Description'] }}</p>
                      <p><strong>Name: </strong>${{ item['fields']['Name'] }}</p>
                      <p><strong>Notes: </strong>${{ item['fields']['Notes'] }}</p>
                      <p><strong>Location: </strong>${{ item['fields']['Location'] }}</p>
                      <p><strong>Purchase Link: </strong>${{ item['fields']['Purchase Link'] }}</p>
                      <p><strong>Bin ID: </strong>${{ item['fields']['Bin ID'] }}</p>
                      <p><strong>Items: </strong>${{ item['fields']['Item'] }}</p>
                       <!--<p><strong>Photo : </strong>${{ item['fields']['Photo'] }}</p> -->
                      <p><strong>Description: </strong>${{ item['fields']['Description'] }}</p>
                      <p><strong>UPC: </strong>${{ item['fields']['UPC'] }}</p>
                      <p><strong>Serial: </strong>${{ item['fields']['Serial #'] }}</p>
                      <p><strong>Price: </strong>${{ item['fields']['Price'] }}</p>
                      <p><strong>Category: </strong>{{ item['fields']['Category'] }}</p>
                  </li>
              </ul>
          </div>
</main>
<footer><h4>Copyright 2019 - Think Make Repeat<h4></footer>
    <script src="/js/min/jquery.min.js"></script>
    <script src="/js/min/what-input.min.js"></script>
    <script src="/js/min/foundation.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <script src="js/min/app-min.js"></script>
  </body>
</html>
